/* マスタ管理系の画面共通CSS */

@charset "UTF-8";

/* #region HTMLタグ設定 */
html {
  background-color: #f2f3f5;
  min-width: 960px;
  overflow-x: scroll;
}
@media screen and (min-width:977px) {
  html{
      overflow-x:hidden;
  }
}
/* #endregion */

.baseContainer{
  min-width: 680px;
  max-width: 680px;
}

/* 条件入力エリア */
#inputRow {
  display: flex;
  padding: 0px;                         /* 余白 */
  height: 65px;
  width: 680px;                         /* 幅 */
  background-color: #fff;               /* 背景色 */
  border: 2px solid #009fc8;            /* 枠線 */
  background-color: #e9faff;
}
/* KSD V001.000 AS */
.inputRow {
  display: flex;
  padding: 0px;
  height: 65px;
  background-color: #fff;
  border: 2px solid #009fc8;
  background-color: #e9faff;
}
/* KSD V001.000 AE */
.inputLabel {
  font-size:20px;                       /* フォントサイズ 20pt */
  color: #1388a7;                       /* 文字色 */
  background-color: transparent;        /* 背景色 */
  text-align : start;                   /* 文字寄せ */
  margin-left:10px;                     /* 横位置調整 */
}
.inputText {
  width: 422px;
  font-size:22px;
  background-color: transparent;        /* 背景色 */
  height: 24px;
  margin-top: 10px;
}
/* KSD V001.000 MS */
.inputText:focus, .inputText2:focus {
  outline: none;                        /* アウトライン線 */
}
/* KSD V001.000 ME */
/* KSD V001.000 AS */
.inputText2 {
  width: 100%;
  font-size:22px;
  background-color: transparent;        /* 背景色 */
  height: 24px;
  margin-top: 10px;
}
/* KSD V001.000 AE */
/* 2px下線 */
.underLine2 {
  border-bottom: 2px solid #009fc8;
} 

/* ラジオボタン */
.inline-radio {
  background-color: transparent;
  text-align: center;
  display: flex;
  width: 323px;
  height: 50px;
  border-radius: 3px;
  overflow: hidden;
  margin-top :-10px;
  margin-left:-15px;
}
.inline-radio div {
  position: relative;
  text-align: center; 
  top: 20%;
  left: 10%;
  width: 100px;
  height: 40px;
  margin : -5px;
  margin-top : -1px;
}
.inline-radio input {
  width: 100px;
  height: 40px;
}
.inline-radio label {
  position: absolute;
  top: 0;
  color: #000;
  width: 100px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border: 2px solid #9ea0aa;
  border-radius: 5px;
  font-size: 22px;
}
.inline-radio input:checked + label {
  background: #ff9407;
  width: 100px;
  height: 40px;
  border: 1px solid #ff9407;
  color: #fff;
  font-size: 22px;
}
/* KSD V001.000 AS */
/* ラジオボタン */
/* small */
.inline-radio-grid {
  background-color: transparent;
  text-align: center;
  display: flex;
  width: 100%;
  height: 50px;
  border-radius: 3px;
  overflow: hidden;
  margin: 5px;
}
.inline-radio-grid div {
  position: relative;
  text-align: center;
  width: 50%;
  height: 40px;
}
.inline-radio-grid input {
  width: 53px;
  height: 40px;
}
.inline-radio-grid label {
  position: absolute;
  top: 0;
  color: #000;
  width: 53px;
  height: 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  border: 2px solid #9ea0aa;
  border-radius: 5px;
  font-size: 18px;
}
.inline-radio-grid input:checked + label {
  background: #ff9407;
  width: 53px;
  height: 40px;
  border: 1px solid #ff9407;
  color: #fff;
  font-size: 18px;
}
.inline-radio-grid input:disabled + label {
  background: #e0e0e0;
  width: 53px;
  height: 40px;
  border: 1px solid #e0e0e0;
  color: #fff;
  font-size: 18px;
}
/* KSD V001.000 AE */

.bkColorBlue input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #e9faff inset !important;
}
/* KSD V001.000 MS */
/* 一覧エリア */
#ListHeader, .ListHeader {
  color: #fff;
  font-size:20px;                       /* フォントサイズ 20pt */
  background-color: #9ea0aa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-right:1px solid #f2f3f5;
}
/* KSD V001.000 ME */
/* KSD V001.000 AS */
.ListHeader {
  color: #fff;
  font-size:20px;                       /* フォントサイズ 20pt */
  background-color: #9ea0aa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right:1px solid #f2f3f5;
}
/* KSD V001.000 AE */
#ListSplitHeader {
  color: #fff;
  font-size:20px;                       /* フォントサイズ 20pt */
  background-color: #9ea0aa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  border-top:1px solid #9ea0aa;
  border-bottom:1px solid #9ea0aa;
}
/* KSD V001.000 AS */
.ListSplitHeader {
  color: #fff;
  font-size:20px;                       /* フォントサイズ 20pt */
  background-color: #9ea0aa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top:1px solid #9ea0aa;
  border-bottom:1px solid #9ea0aa;
}
/* KSD V001.000 AE */
.ListElement {
  color: #000;
  font-size:22px;                       /* フォントサイズ 22pt */
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
  border:1px solid #9ea0aa;
}
/* KSD V001.000 AS */
.RightListElement {
  color: #000;
  font-size:22px;                       /* フォントサイズ 22pt */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right:10px;
  height: 50px;
  border:1px solid #9ea0aa;
}
.CenterListElement {
  color: #000;
  font-size:22px;                       /* フォントサイズ 22pt */
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right:10px;
  height: 50px;
  border:1px solid #9ea0aa;
}
/* KSD V001.000 AE */

.ListSplitElement {
  color: #000;
  font-size:22px;                       /* フォントサイズ 22pt */
  background-color: #fff;
  display: flex;
  align-items: center;
  height: 50px;
  border-top:1px solid #9ea0aa;
  border-bottom:1px solid #9ea0aa;
}
.NameClass{
  text-align: left;
  width: 370px;
  margin-left:10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* KSD V001.000 AS */
.CenterNameClass{
  text-align: center;
  width: 370px;
  margin-right:10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.NameClass2 {
  text-align: left;
  width: 100%;
  margin-left:10px;
  margin-right:10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* KSD V001.000 AE */
