/* KSD V001.000 AS */
.invalid {
  border: 1px solid #f3443e;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.readOnlyText {
  background-color: #f0f0f0;
  color: #79797a;
}

th:not(:last-child) {
  border-right: 1px solid #f0f0f0;
}

.table-cell {
  color: #000;
  font-size: 22px;
  text-align: center;
  height: 50px;
}

td.label1 {
  text-align: left;
  vertical-align: top;
  padding: 9px;
  background-color: #fff;
  border: 1px solid #9ea0aa;
}

td.label2 {
  background-color: #fff;
  border: 1px solid #9ea0aa;
}

td.input {
  color: #000;
  background-color: #fff;
  border: 1px solid #9ea0aa;
}

.errorTextBox {
  background-color: #fcd4d4!important;
  border: 1px solid #e93232!important;
}

.errorTextBox:focus {
  border: 2px solid #e93232!important;
  background-color: #fff!important;
  outline: solid 2px #fcd4d4!important;
  outline-offset: -2px!important;
}
/* KSD V001.000 AE */
