/* KSD V001.000 AS */
@import url(./../MasterCommon/masterDialog.css);

.access-authority-regsitration-csv-error-dialog-card-text {
  height: 355px !important;
  padding: 0 !important;
}

.access-authority-regsitration-csv-error-dialog-card-text-top {
  height: 110px;
  padding: 0 24px;
}

.access-authority-regsitration-csv-error-dialog-card-text-top-label {
  padding: 10px 44px 0;
}

.access-authority-regsitration-csv-error-dialog-card-text-bottom {
  height: 245px;
  overflow-y:auto;
  padding: 0 0 0 24px;
}

.device-error-table {
  font-size: 20.05px;
}

.device-error-table tr {
  height: 28px;
}


.device-error-table tr td {
  height: 28px;
  background-color: #ffffff;
  text-align: left;
  border: 0px;
}

.device-error-table tr td.first {
  width: 250px;
}

.device-error-table tr td.second {
  width: 256px;
}

.device-error-table tr td .column-one {
  padding-left: 105px;
}

.access-authority-registration-error-text
{
  text-align: left;
  font-size: 20.05px;
  color: black;
  margin: 0 !important;
}
/* KSD V001.000 AE */
