/* KSD V001.000 AS */
.hour-zone-setting-config-select-outer {
  font-size: 20px;
  padding: 0;
}

.hour-zone-setting-config-select-inner {
  max-width: 587px;
  min-width: 587px;
  margin-top: 60px;
}

/* KSD V001.000 AE */
