/* KSD V001.000 AS */
.option-master-setting-table {
    table-layout: fixed;
    border-collapse: separate !important;
    border-spacing: 0.5px 0px;
}

.option-master-setting-table th:first-child,
.option-master-setting-table td:first-child {
    min-width: 50px;
    width: 50px;
}

.option-master-setting-table th:nth-child(2),
.option-master-setting-table td:nth-child(2) {
    width: 534px;
}

.option-master-setting-table thead {
    display: block;
}

.option-master-setting-table thead th,
.option-master-setting-table thead td {
    height: 30px;
    background-color: #9EA0AA;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    padding: 0 5px;
    line-height: 23px;
}

.option-master-setting-table thead th:first-child,
.option-master-setting-table thead td:first-child {
    border-left: none;
}

.option-master-setting-table thead th:last-child,
.option-master-setting-table thead td:last-child {
    border-right: none;
}

.option-master-setting-table tbody {
    height: 750px;
    display: block;
    overflow-y: auto;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.option-master-setting-table tbody th,
.option-master-setting-table tbody td {
    height: 50px;
    background-color: white;
    border: 1px solid #b9b8b8;
    color: #000;
    text-align: left;
    font-size: 22px;
    font-weight: normal;
    padding: 0 5px;
    line-height: 23px;
}

.option-master-setting-table tbody tr.selectedItem td {
    background-color: #FFEACF !important;
    border: 1px solid #FF9B16 !important;
}

.option-master-setting-table tbody tr:hover {
    cursor: pointer;
}

.disabled {
    opacity: 50%;
    cursor: not-allowed;
}

.disabled * {
    pointer-events: none;
}
/* KSD V001.000 AE */
