.barcode-setting {
  min-width: 1220px !important;
  max-width: 100% !important;
  font-size: 20px !important;
  padding-right: 200px !important;
}
.conditionRow {
  height: 50px;
}
.editIcon {
  width: 35px;
  height: 35px;
  vertical-align: middle;
}